In [ ]:
# We use 'pandas' for overall data manipulation in this session.
# Pandas is a very famous library for data analysis. We can efficiently manipulate, 
# filter and create data using Pandas.
# DataFrames are the backbone of Pandas.
# Dataframes are the two dimensional datastucture in pandas
# pandas=> for effiecient process in huge data set.(native python are slow for huge data set)

In [2]:
# Lets represent a two dimentional data structure using Python dictionary
people={
    "name":["Jon","Jane","Ken","Kevin"],
    "email":["jon@email.com","jane@email.com","ken@email.com","kevin@email.com"],
    "address":["Ktm","Bkt","Pkr","Ltp"]
}

In [8]:
import pandas as pd
df=pd.DataFrame(people)
df   #print(df)

    name            email address
0    Jon    jon@email.com     Ktm
1   Jane   jane@email.com     Bkt
2    Ken    ken@email.com     Pkr
3  Kevin  kevin@email.com     Ltp

In [9]:
df.shape

(4, 3)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     4 non-null      object
 1   email    4 non-null      object
 2   address  4 non-null      object
dtypes: object(3)
memory usage: 228.0+ bytes

In [13]:
df.head(1)

  name          email address
0  Jon  jon@email.com     Ktm

In [14]:
df.tail(2)

    name            email address
2    Ken    ken@email.com     Pkr
3  Kevin  kevin@email.com     Ltp

In [15]:
df['email']

0      jon@email.com
1     jane@email.com
2      ken@email.com
3    kevin@email.com
Name: email, dtype: object

In [16]:
type(df['email'])  # Series
# Series is a single column of dataframe. series means cols
# DataFrame is a collection of such series

pandas.core.series.Series

In [17]:
# We can also access the column/series using a dot '.' operator
df.email
# But using '.' is not recommended because it may conflict with the dataframe methods,attributes.(generally we use dot for method and attributes)
# use df['email']

0      jon@email.com
1     jane@email.com
2      ken@email.com
3    kevin@email.com
Name: email, dtype: object

In [20]:
r=df[["name","email"]]   #double [] for two element.
print(type(r))  # dataframe
print(r)

<class 'pandas.core.frame.DataFrame'>
    name            email
0    Jon    jon@email.com
1   Jane   jane@email.com
2    Ken    ken@email.com
3  Kevin  kevin@email.com

In [21]:
df.columns

Index(['name', 'email', 'address'], dtype='object')

In [23]:
# iloc stands for integer value of location
# We can give rows and columns in iloc
# If we want to provide multiple rows and columns then they should be enclosed in []
df.iloc[0]   # It gives first row of the dataframe

name                 Jon
email      jon@email.com
address              Ktm
Name: 0, dtype: object

In [26]:
df.iloc[[0,1]]   # 0 row and 1 row

   name           email address
0   Jon   jon@email.com     Ktm
1  Jane  jane@email.com     Bkt

In [27]:
df.iloc[0,1]  # here 0 indes is for row and 1 index is for column

'jon@email.com'

In [28]:
df.iloc[[0,1],1]  # here [0,1] are 0 row and 1 row and 1 is for column

0     jon@email.com
1    jane@email.com
Name: email, dtype: object

In [29]:
df.iloc[[0,1],[0,1]]  # here first [0,1] are rows and second [0,1] are columns

   name           email
0   Jon   jon@email.com
1  Jane  jane@email.com

In [30]:
df.iloc[0:2,0:2]   #0 to less than 2

   name           email
0   Jon   jon@email.com
1  Jane  jane@email.com

In [31]:
# we also have a 'loc' method for a dataframe
df.loc[[0,1],["name","email"]]  # 0 and 1 row ko name and email matra aauxa

   name           email
0   Jon   jon@email.com
1  Jane  jane@email.com

In [34]:
df.loc[0:2,"name":"address"]

   name           email address
0   Jon   jon@email.com     Ktm
1  Jane  jane@email.com     Bkt
2   Ken   ken@email.com     Pkr

In [35]:
# We can also set the index of our rows
df.set_index("email")   # email can be unique so email lai index ko rup ma use garna sakinxa

                  name address
email
jon@email.com      Jon     Ktm
jane@email.com    Jane     Bkt
ken@email.com      Ken     Pkr
kevin@email.com  Kevin     Ltp

In [47]:
df

                 level_0  index   name address
email
jon@email.com          0      0    Jon     Ktm
jane@email.com         1      1   Jane     Bkt
ken@email.com          2      2    Ken     Pkr
kevin@email.com        3      3  Kevin     Ltp

In [48]:
df.set_index('email',inplace=True)

KeyError: "None of ['email'] are in the columns"

In [44]:
df.loc[["jon@email.com","kevin@email.com"],["name","address"]]

KeyError: "None of [Index(['jon@email.com', 'kevin@email.com'], dtype='object')] are in the [index]"

In [62]:
df.reset_index(inplace=True)  # This removes the custom indexing and reset to default

ValueError: cannot insert level_0, already exists

In [43]:
df

   level_0  index            email   name address
0        0      0    jon@email.com    Jon     Ktm
1        1      1   jane@email.com   Jane     Bkt
2        2      2    ken@email.com    Ken     Pkr
3        3      3  kevin@email.com  Kevin     Ltp

In [50]:
df.sort_index()

                 level_0  index   name address
email
jane@email.com         1      1   Jane     Bkt
jon@email.com          0      0    Jon     Ktm
ken@email.com          2      2    Ken     Pkr
kevin@email.com        3      3  Kevin     Ltp

In [51]:
df.sort_index(ascending=False)

                 level_0  index   name address
email
kevin@email.com        3      3  Kevin     Ltp
ken@email.com          2      2    Ken     Pkr
jon@email.com          0      0    Jon     Ktm
jane@email.com         1      1   Jane     Bkt

In [53]:
# Filtering
df["address"]=="Pkr"   # It is just a masking.
filt=df["address"]=="Pkr"
df[filt]

               level_0  index name address
email
ken@email.com        2      2  Ken     Pkr

In [54]:
df.loc[filt]

               level_0  index name address
email
ken@email.com        2      2  Ken     Pkr

In [55]:
df.loc[filt,"address"]

email
ken@email.com    Pkr
Name: address, dtype: object

In [57]:
df.loc[filt,["address","name"]]

              address name
email
ken@email.com     Pkr  Ken

In [59]:
filt=(df["address"]=="Bkt") | (df["name"]=="Kevin")
df.loc[filt]

                 level_0  index   name address
email
jane@email.com         1      1   Jane     Bkt
kevin@email.com        3      3  Kevin     Ltp

In [60]:
df.loc[~filt]

               level_0  index name address
email
jon@email.com        0      0  Jon     Ktm
ken@email.com        2      2  Ken     Pkr